_data*
.vscode
/debug
_test*
fdata/
ndata/
odata/
*.exe
ndkey.key
.env
cmd/generator/generator
cmd/observer/observer
cmd/node/node
cmd/keymake
bin
tdata/
cmd/mainnetcachecontext
contract/plugin/test/plugin/
*.so
cmd/testnet/testnet_ips.txt
