_data*
.vscode
/debug
_test*
fdata/
ndata/
odata/
*.exe
ndkey.key
.env
cmd/generator/generator
cmd/observer/observer
cmd/node/node
cmd/keymake
cmd/testnet
cmd/sendtx
bin
tdata/
zipcontext
cmd/mainnetcachecontext